@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
h2 {
display: block;
font-family: 'JetBrains Mono', monospace;
  width: 200px;
}
h1 {
display: block;
font-family: 'JetBrains Mono', monospace;
  width: 200px;
}
